<li ckass="dropdown" data-admin-menu>
    <a href="">
        Admin
        <span class="glyphicon glyphicon-chevron-down">
        </span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header">Minor Entities</li>
        <li class="divider" />
        <li><a href="/Admin/CreateAdmin">&nbsp;&nbsp;Create Admin</a></li>
        <li><a href="/Admin/Create">&nbsp;&nbsp;Create User</a></li>
        <li><a href="/Admin/Records">&nbsp;&nbsp;UserRecords</a></li>
        <li class="divider" />
        <li class="dropdown-header">Major Entities</li>
        <li class="divider" />
        <li><a href="/Admin/Accounts">&nbsp;&nbsp;User Accounts</a></li>
        <li><a href="/Admin/AdminAccounts">&nbsp;&nbsp;Admin Accounts</a></li>
        <li><a href="/Admin/Reports">&nbsp;&nbsp;FeedBack/Reports</a></li>
        <li><a href="/Admin/Penality">&nbsp;&nbsp;Account_Bans/Penality</a></li>
        <li class="divider" />
        <li class="dropdown-header">Users & Subscription</li>
        <li class="divider" />
        <li><a href="/Admin/Subscriptions">&nbsp;&nbsp;Users & Subscription</a></li>
    </ul>
</li>